@import "global.scss";

#header-section {
  padding-top: calc(50vh - 152px);
  position: relative;
  min-height: 725px;
  height: 100vh;
  &.is-minting {
    padding-top: calc(50vh - 215px);
  }
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 35%;
}

.forward {
  z-index: 2;
  position: relative;
}

#header-title {
  /* UI Properties */
  margin: auto;
}

#header-center-btn {
  display: flex;
  margin: auto;
}

.header-mint-now-btn {
  display: block;
  margin: 0 auto;
  width: 309px;
  height: 86px;
  background: white 0 0 no-repeat padding-box;
  border: 2px solid #222221;
  color: #222221;
  border-radius: 44px;
  font-family: "Sofia Pro Soft", serif;
  font-weight: bold;
}

#header-icons-section {
  position: absolute;
  z-index: 30;
  top: 25px;
  width: 100vw;
  height: 55px;
  display: flex;
  justify-content: center;
  color: white;
}

.header-mint-now-btn:hover {
  background: #e1e1e1 0 0 no-repeat padding-box;
}

.header-icons {
  height: 36px;
  width: 36px;
  margin: 0 10px;
  color: white;
  cursor: pointer;
  path {
    fill: white;
  }
}

.fill-black {
  path {
    fill: #222221;
  }
}

#about-us-cloud {
  padding-bottom: 5rem;
  padding-top: 6rem;
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .col {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

#about-us-text-div {
  padding-left: 45px;
  padding-top: 30px;
  padding-right: 10%;
}

#about-us-title {
  /* UI Properties */
  letter-spacing: -3.6px;
  color: white;
}

#about-us-description {
  /* UI Properties */
  text-align: left;
  letter-spacing: 0;
  margin-bottom: 0;
  color:white;
}

.remove-margin {
  margin: 0 -15px;
}

.shake-slow {
  animation-name: shake-slow;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.footer-section {
  background-color: white;
  position: relative;
  padding: 60px 0 60px 0;
  p {
    font: normal normal bold 16px/21px Sofia Pro Soft;
    color: #222221;
    margin-top: 35px;
    display: inline-block;
  }
  .container {
    max-width: 1100px !important;
    padding-left: 30px;
  }
}

.header-icons.shake-slow {
  padding: 0;
  display: inline-grid;
}

.mint-card {
  background: white;

  @media (max-width: 768px) {
    padding: 0px !important;
  }
}

.mint-box-row {
  margin: 16px 0;
}

.mint-amount-content {
  //price, quanity
  flex: 1;
  height: 84px;
  border-radius: 15px;
  background: white;
  border: 2px solid #222221;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  font: normal normal bold 30px/40px Sofia Pro Soft;
  letter-spacing: -1.5px;
  line-height: 0.9;
  color: #222221;
  margin: 0 8px 0 -3px;
  flex-direction: column;
  font-size: 30px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.mint-supply-content {
  flex: 1;
  height: 84px;
  border-radius: 15px;
  background: white;
  border: 2px solid #CDCDCD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  font: normal normal bold 30px/40px Sofia Pro Soft;
  letter-spacing: -1.5px;
  line-height: 0.9;
  color: #222221;
  margin: 0 8px 0 -3px;
  flex-direction: column;
  font-size: 30px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.mint-amount-btn {
  cursor: pointer;
  height: 84px;
  width: 84px;
  border-radius: 15px;
  background: #d3d3d3;
  border: 2px solid #222221;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 84px;
  line-height: 0.7;
  color: #222221;
  margin-right: 8px;
}

.mint-amount-btn-plus {
  margin-right: -3px;
}

.mint-popup-button {
  background: #212121;
  color: white;
  margin-bottom: 12px;
  font: normal normal bold 25px/40px Sofia Pro Soft;
  letter-spacing: -1.5px;
  width: 310px !important;
  height: 85px !important;
  max-width: calc(100vw - 50px);
  &:hover {
    background: #2f2f2f;
  }
}


@media screen and (max-width: 768px) {

  #about-us-text-div {
    padding-right: 5%;
  }

  #about-us-title {
    font: normal normal bold 40px/67px Sofia Pro Soft;
    font-size: 3.6rem;
    text-align: left;
  }

  #about-us-description {
    font: normal normal normal 18px/20px Sofia Pro Soft;
    text-align: left;
  }

  #header-title {
    width: 310px;
    height: 96px;
    margin-bottom: 15px;
    max-width: 100vw;
  }

  #header-description {
    font-size: 27.5px;
    line-height: 31px;
    margin-bottom: 25px;
  }

  .header-mint-now-btn {
    width: 200px;
    height: 55px;
    border-radius: 44px;
    font-size: 19px;
  }

  .mint-amount-content {
    flex: 100%;
    margin-top: 8px;
  }
  .mint-amount-btn {
    width: calc(50% - 7.5px);
    margin-top: 8px;
  }
}

@media screen and (min-width: 768px) {

  #about-us-title {
    font: normal normal bold 60px/77px Sofia Pro Soft;
  }

  #about-us-description {
    font: normal normal normal 20px/27px Sofia Pro Soft;
  }

  #header-title {
    width: 358px;
    height: 105px;
    margin-bottom: 7px;
  }

  #header-description {
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 25px;
  }

  .header-mint-now-btn {
    width: 200px;
    height: 55px;
    border-radius: 44px;
    font-size: 19px;
  }

  .footer-section {
    p {
      margin-top: 15px;
    }
  }
}

@media screen and (min-width: 992px) {
  #about-us-title {
    font: normal normal bold 72px/97px Sofia Pro Soft;
  }

  #about-us-description {
    font: normal normal normal 24px/31px Sofia Pro Soft;
  }

  #header-title {
    margin-bottom: 26px;
    width: 315px;
    height: 216px;
  }

  #header-description {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 35px;
  }

  .header-mint-now-btn {
    width: 225px;
    height: 65px;
    border-radius: 44px;
    font-size: 23px;
    letter-spacing: -1.2px;
  }
}

@media screen and (max-width: 992px) {
  #header-section {
    padding-top: calc(50vh - 84px);
    &.is-minting {
      padding-top: calc(50vh - 165px);
    }
  }
  #about-us-text-div {
    margin-left:-35px;
  }
  #about-us-cloud{
    padding-bottom: .5rem !important;
    padding-top: 2rem !important;

  }

  #about-us-section {
    .container {
      padding: 0 !important;
    }

    .row {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }


  #about-image-cols {
    padding-right: 0 !important;
  }

  #about-us-section > .container {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

}

@media screen and (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 965px;
  }
}

#about-us-section {
  #about-us-title {
    font: normal normal bold 72px/97px Sofia Pro Soft;
    margin-bottom: 20px;

  }

  #about-us-description {
    font: normal normal normal 24px/31px Sofia Pro Soft;

  }

  .about-cell {
    width: 100px;
    height: auto;
    margin-bottom: 16px;
    margin-right: 16px;

    img {
      width: 100%;
    }
  }

  .about-desc-title {
    font: normal normal bold 24px/31px Sofia Pro Soft;
    margin-bottom: 40px;
  }

  .about-desc-text {
    font: normal normal normal 24px/31px Sofia Pro Soft;
    margin-bottom: 40px;

  }

  #about-image-cols {
    margin: auto;
  }

  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 100% !important;
    padding-left: 6.5%;
  }
}





